In [1]:
import os
os.chdir(os.getcwd())
os.getcwd()

'/Users/pantchanit/Documents/stat_week4/Python'

In [2]:
import pandas as pd

## Homogeneity Test

In [3]:
df = pd.read_csv('categorical_data/cans.csv')
df

   Line  Blemish  Crack  Location  Missing  Others
0     1       34     65        17       21      13
1     2       23     52        25       19       6
2     3       32     28        16       14      10

In [4]:
df.set_index('Line', inplace=True)
df

      Blemish  Crack  Location  Missing  Others
Line
1          34     65        17       21      13
2          23     52        25       19       6
3          32     28        16       14      10

In [5]:
from scipy.stats import chi2_contingency
chi2, p, dof, ex = chi2_contingency(df)

In [7]:
chi2

14.158633604546038

In [8]:
p

0.07772324694083477

In [9]:
dof

8

In [10]:
from scipy.stats import chi2
alpha = 0.05
chi2.ppf(1-alpha, dof)

15.50731305586545

## Independence Test

In [11]:
df2 = pd.read_csv('categorical_data/gas.csv')
df2

       Station  Aggressive  Neutral  Non \nAggressive
0  Substandard          24       15                17
1     Standard          52       73                80
2       Modern          58       86                36

In [12]:
df2.set_index('Station', inplace=True)
df2

             Aggressive  Neutral  Non \nAggressive
Station
Substandard          24       15                17
Standard             52       73                80
Modern               58       86                36

In [13]:
from scipy.stats import chi2_contingency
chi2, p, dof, ex = chi2_contingency(df2)

In [14]:
chi2

22.475714443254493

In [15]:
p

0.00016112613968045263

In [16]:
dof

4

In [17]:
from scipy.stats import chi2
alpha = 0.01
chi2.ppf(1-alpha, dof)

13.276704135987622