In [40]:
import os
os.chdir(os.getcwd())

## Import Module

In [41]:
import pandas as pd
from scipy.stats import chi2_contingency
from scipy.stats import chi2
import numpy as np

## Import Data

In [42]:
df_time = pd.read_excel('Time-Spending_Records.xlsx', sheet_name="Sheet1")  # ตัวอย่าง
df_time.head()

        date           time        activity  duration (minute)
0 2022-01-04  13.00 - 17.30    เรียนหนังสือ                270
1 2022-01-04  19.00 - 19.30  รับประทานอาหาร                 30
2 2022-01-04  20.00 - 24.00       ทำการบ้าน                240
3 2022-01-05  09.00 - 12.00    เรียนหนังสือ                180
4 2022-01-05  12.00 - 13.00         พักผ่อน                 60

In [43]:
df_time2 = df_time[['date', 'activity', 'duration (minute)']]
df_time2['duration (minute)'] = df_time2['duration (minute)'].fillna(df_time2['duration (minute)'].mode()[0]) #Fix missing

/var/folders/37/ffyx67ps24v157rdzs_y3pkc0000gn/T/ipykernel_6574/969399947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_time2['duration (minute)'] = df_time2['duration (minute)'].fillna(df_time2['duration (minute)'].mode()[0]) #Fix missing

In [44]:
dfGroup = df_time2.groupby(['date', 'activity'])['duration (minute)'].count()
dfGroup

date        activity
2022-01-01  ทำการบ้าน         1
            รับประทานอาหาร    1
            เรียนหนังสือ      1
2022-01-04  ทำการบ้าน         1
            รับประทานอาหาร    1
                             ..
2022-03-02  เรียนหนังสือ      2
2022-03-03  ทำการบ้าน         1
            พักผ่อน           1
            รับประทานอาหาร    1
            เรียนหนังสือ      2
Name: duration (minute), Length: 191, dtype: int64

In [45]:
#Pivot table
dfPivot_time = df_time2.pivot_table(
    index='date', columns='activity', values='duration (minute)', aggfunc='sum')
dfPivot_time = dfPivot_time.fillna(0)

## Homogeneity Test

In [46]:

#Chi-Squared Test
chi2_test, p, dof, _ = chi2_contingency(dfPivot_time)
print(f'Chi-Squared test-statistic: {chi2_test:.4f}')
print(f'P-value: {p:.4f}')

Chi-Squared test-statistic: 301903.5636
P-value: 0.0000

In [47]:
dof

1334

In [50]:
alpha = 0.05
chi2.ppf(1-alpha, dof)

1420.08285173559

เนื่องจาก test-statistic > X 0.05,1334 หรือ P-value < alpha

ดังนั้นสัดส่วนการใช้เวลาในการทำกิจวัตรต่างๆในชีวิตประจำวันไม่เท่ากัน